/* class applies to select element itself, not a wrapper element */

.select-css {
    border-radius: 22px;
    padding: 8px;
    background: linear-gradient( #666699,#e5e5e5);
}

.select-css * {
    border-radius: 22px;
    padding: 8px;
    background: linear-gradient( #666699,#e5e5e5);
}


.current {
    color: gold;
}

aside{
width:300px;
height:300px;
overflow-y:scroll;
}
